{% extends "layout.html" %}
{% block content %}
<div class="bs-example">
	<!-- Bootstrap Grid -->
	<div class="row">
	  <div class="col-md-4"><h1>h1 (Semibold 36px)</h1>
<h2>h2 (Semibold 30px)</h2>
<h3>h3 (Semibold 24px)</h3>
<h4>h4 (Semibold 18px)</h4>
<h5>h5 (Semibold 14px)</h5>
<h6>h6 (Semibold 12px)</h6></div>
	  <div class="col-md-4"><p class="h1">.h1 (Semibold 36px)</p>
<p class="h2">.h2 (Semibold 30px)</p>
<p class="h3">.h3 (Semibold 24px)</p>
<p class="h4">.h4 (Semibold 18px)</p>
<p class="h5">.h5 (Semibold 14px)</p>
<p class="h6">.h6 (Semibold 12px)</p></div>
	  <div class="col-md-4"><h1>Heading 1 <small>Sub-heading</small></h1>
<h2>Heading 2 <small>Sub-heading</small></h2>
<h3>Heading 3 <small>Sub-heading</small></h3>
<h4>Heading 4 <small>Sub-heading</small></h4>
<h5>Heading 5 <small>Sub-heading</small></h5>
<h6>Heading 6 <small>Sub-heading</small></h6></div>
	</div>
	<div class="row"><hr></div>
     	<div class="row"><p class="text-left">Left aligned.</p>
<p class="text-center">Center aligned.</p>
<p class="text-right">Right aligned.</p>
<p class="text-justify">Justified.</p>
<p class="text-nowrap">No wrap.</p></div>
	<div class="row"><hr></div>
	<div class="row">
	  <div class="col-md-4"><h1 class="display-1">Display 1</h1>
<h1 class="display-2">Display 2</h1>
<h1 class="display-3">Display 3</h1>
<h1 class="display-4">Display 4</h1></div>
	  <div class="col-md-4"><p class="text-lowercase">Lowercased text.</p>
<p class="text-uppercase">Uppercased text.</p>
<p class="text-capitalize">Capitalized text.</p><p>Sample <mark>marked text</mark>.</p><abbr title="Professor">Prof.</abbr></div>
	  <div class="col-md-4"><abbr title="Structured Query Language" class="initialism">SQL</abbr> is used to query databases.</div>

	</div>
	<div class="row">
	  <div class="col-md-4"><blockquote>
<p>Most of us are awash with beliefs of all sorts. We are steeped in the common sense and prevailing wisdom of our culture, traditions, communities, profession, family, and friends.</p>
<footer>Tom Campbell in <cite>My Big Toe</cite></footer>
</blockquote></div>
	  <div class="col-md-4"><blockquote class="blockquote-reverse">
<p>Most of us are awash with beliefs of all sorts. We are steeped in the common sense and prevailing wisdom of our culture, traditions, communities, profession, family, and friends.</p>
<footer>Tom Campbell in <cite>My Big Toe</cite></footer>
</blockquote></div>
	  <div class="col-md-4"><p>The <code>accesskey</code> attribute can be used on any HTML5 element.</p>
<p>To save the document on a Mac, press <kbd><kbd>Command</kbd>+<kbd>S</kbd></kbd></p>
<pre>This text has
been formatted using
   the HTML pre tag. The browser should
      display all white space
as it was entered.
</pre>
<p>Computer says <samp>Not enough memory</samp>. I always thought I had a good memory!</p>
<p><var>E</var> = <var>m</var> <var>c</var><sup>2</sup></p>
</div>
   	</div>
	<div class="row">
	  <div class="col-md-1"><ul class="list-unstyled">
  <li>Cats</li>
  <li>Dogs</li>
  <li>Elephants</li>
</ul></div>
	  <div class="col-md-3"><ul class="list-inline">
  <li>Cats</li>
  <li>Dogs</li>
  <li>Elephants</li>
</ul></div>
	  <div class="col-md-3"><dl>
<dt>Arahat</dt>
<dd>The "Perfected One", who has overcome The Three Poisons of Desire, Hatred and Ignorance. </dd>
<dt>Bodhi</dt>
<dd>Awakened wisdom.</dd>
<dt>Zen</dt>
<dd>Meditative absorption in which all dualistic distinctions are eliminated.</dd>
</dl></div>
	  <div class="col-md-5"><dl class="dl-horizontal">
<dt>Arahat</dt>
<dd>The "Perfected One", who has overcome The Three Poisons of Desire, Hatred and Ignorance. </dd>
<dt>Bodhi</dt>
<dd>Awakened wisdom.</dd>
<dt>Zen</dt>
<dd>Meditative absorption in which all dualistic distinctions are eliminated.</dd>
</dl></div>
	</div>

</div>

{% endblock %}
